# Ignore dockerfile so re-runs with dockerfile-only fixes don't rebuild
**/Dockerfile
**/target/
**/*.img
**/*.diff.craff
# Don't add scripts so that builds dont have to rerun on script changes to those builds
scripts
target