# Ignore everything
*
**/*.img
**/*.diff.craff

!examples/docker-example
!examples/manual-example
!examples/rsrc
!examples/tutorials
!harness
!src
!tests
!.clang-format
!.gitignore
!.gitleaksignore
!.pre-commit-config.yaml
!build.rs
!Cargo.toml
!Cargo.lock
!config-user.mk
!rust-toolchain.toml

# needed by .github/builder/Dockerfile
!.github/builder
