Cargo.lock
.env
.secrets
.secret*
.mypy_cache
*restricted*
config.mk
.package-list
.modcache
simics
!simics/
simics-eclipse
simics-gui
simics-old
GNUmakefile*
*~
compiler.mk
*.project-setup.new
documentation
!documentation/
*.log


.cargo/
.vscode/
.mypy_cache/
.project-properties/
bin/
dist-packages/
dist/
distfile-list/
doc-src/
doc/
linux64/
logs/
packageinfo/
packageinfo/
target/
targets/
win64/
packages/