# Copyright (C) 2023 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

[workspace.package]
authors = [
    "Rowan Hart <rowan.hart@intel.com>",
    "Brandon Marken <brandon.marken@intel.com>",
    "Robert Geunzel <robert.geunzel@intel.com>",
]
categories = ["development-tools::testing", "emulators", "simulation"]
description = "A snapshotting, coverage-guided fuzzer for software (UEFI, Kernel, firmware, BIOS) built on SIMICS"
edition = "2021"
homepage = "https://github.com/intel-innersource/applications.security.fuzzing.confuse"
keywords = ["SIMICS", "fuzzing", "security", "testing", "simulator"]
license = "Apache-2.0"
publish = false
readme = "README.md"
repository = "https://github.com/intel-innersource/applications.security.fuzzing.confuse"
version = "0.1.0"

[workspace]
resolver = "2"
members = [
    # Include file for harnessing
    "include",
    # Provide simics 
    # Provide real simics APIs
    "simics-api-sys",
    "simics-api",
    "simics-api-macro",
    "simics",
    "simics-cli",
    "simics-tests",
    "simics-link",
    "simics-fuzz",
    # Modules
    "tsffs_module",
    # Utilities
    "util/raw-cstr",
    "util/version-tools",
    "util/ffi-macro",
    "util/artifact-dependency",
    "util/tmp-dir",
]
# Specifying only simics-fuzz allows `cargo run` without specifying `--bin` to run `simics-fuzz`
default-members = [
    "simics-fuzz",
]
exclude = ["docs/videos/adv", "tests/userland-examples", "tests/cc"]

[workspace.dependencies]
artifact-dependency = { path = "./util/artifact-dependency" }
simics-link = { path = "./simics-link" }
simics = { path = "./simics" }
simics-fuzz = { path = "./simics-fuzz" }
tsffs_module = { path = "./tsffs_module" }
simics-api-sys = { path = "./simics-api-sys" }
simics-api = { path = "./simics-api" }
simics-api-macro = { path = "./simics-api-macro" }
tmp-dir = { path = "./util/tmp-dir" }
raw-cstr = { path = "./util/raw-cstr" }
version-tools = { path = "./util/version-tools" }
ffi-macro = { path = "./util/ffi-macro" }
libafl = { git = "https://github.com/AFLplusplus/LibAFL", rev = "1922cb0a650aaaed7cffa65008019564ea5f43ba" }
libafl_bolts = { git = "https://github.com/AFLplusplus/LibAFL", rev = "1922cb0a650aaaed7cffa65008019564ea5f43ba" }
anyhow = "1.0.74"
# Match these versions to cargo_metadata -- it breaks on current versions
serde = "1.0.183"
serde_json = "1.0.104"

[profile.dev]
rpath = true

[profile.release]
rpath = true
lto = true
codegen-units = 1
opt-level = 3
debug = true
