---

name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always
  PUBLIC_SIMICS_PKGS_URL: "https://registrationcenter-download.intel.com/akdlm/IRC_NAS/881ee76a-c24d-41c0-af13-5d89b2a857ff/simics-6-packages-2023-31-linux64.ispm"
  PUBLIC_SIMICS_ISPM_URL: "https://registrationcenter-download.intel.com/akdlm/IRC_NAS/881ee76a-c24d-41c0-af13-5d89b2a857ff/intel-simics-package-manager-1.7.5-linux64.tar.gz"
  PUBLIC_SIMICS_PKGS_URL_WINDOWS: "https://registrationcenter-download.intel.com/akdlm/IRC_NAS/881ee76a-c24d-41c0-af13-5d89b2a857ff/simics-6-packages-2023-31-win64.ispm"
  PUBLIC_SIMICS_ISPM_URL_WINDOWS: "https://registrationcenter-download.intel.com/akdlm/IRC_NAS/881ee76a-c24d-41c0-af13-5d89b2a857ff/intel-simics-package-manager-1.7.5-win64.exe"
  PUBLIC_SIMICS_PACKAGE_VERSION_1000: "6.0.169"
  MINGW_URL: "https://github.com/brechtsanders/winlibs_mingw/releases/download/13.2.0-16.0.6-11.0.0-ucrt-r1/winlibs-x86_64-posix-seh-gcc-13.2.0-llvm-16.0.6-mingw-w64ucrt-11.0.0-r1.7z"
  MINGW_VERSION: "13.2.0-16.0.6-11.0.0-ucrt-r1"

jobs:
  build_and_test:
    name: Build and Test
    container: fedora:38
    runs-on: ubuntu-latest
    steps:
      - name: Add ISPM to PATH
        run: |
          echo "${HOME}/simics/ispm/" >> "${GITHUB_PATH}"

      - name: Install Dependencies
        shell: bash
        run: |
          dnf -y update && \
          dnf -y install \
            alsa-lib atk clang clang-libs clang-resource-filesystem \
            clang-tools-extra cmake cups curl dosfstools g++ gcc git \
            git-lfs glibc-devel glibc-devel.i686 glibc-static \
            glibc-static.i686 gtk3 lld lld-devel lld-libs llvm llvm-libs \
            llvm-static make mesa-libgbm mtools ninja-build openssl \
            openssl-devel openssl-libs python3 python3-pip yamllint

      - uses: actions/checkout@v3
        with:
          lfs: true

      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt,clippy,miri

      - name: Cache SIMICS Dependencies
        id: cache-simics-packages
        uses: actions/cache@v3
        with:
          path: ${HOME}/simics
          key: simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }}

      - name: Install SIMICS (External)
        if: ${{ steps.cache-simics-packages.outputs.cache-hit != 'true' }}
        shell: bash
        run: |
          mkdir -p "${HOME}/simics/ispm/" && \
          curl --noproxy -L -o "${HOME}/simics/ispm.tar.gz" \
              "${{ env.PUBLIC_SIMICS_ISPM_URL }}" && \
          curl --noproxy -L -o "${HOME}/simics/simics.ispm" \
              "${{ env.PUBLIC_SIMICS_PKGS_URL }}" && \
          tar -C "${HOME}/simics/ispm" --strip-components=1 \
              -xvf "${HOME}/simics/ispm.tar.gz" && \
          ispm settings install-dir "${HOME}/simics" && \
          ispm packages --install-bundle "${HOME}/simics/simics.ispm" \
              --non-interactive --trust-insecure-packages

      - name: Build and Install TSFFS SIMICS Package
        run: |
          ispm projects "$(pwd)" --create --ignore-existing-files \
            --non-interactive
          bin/project-setup --force
          ./build.rs
          ispm packages \
            -i linux64/packages/simics-pkg-31337-6.0.0-linux64.ispm \
            --non-interactive --trust-insecure-packages

      - name: Build Project
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} cargo build
      - name: Check Project
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} cargo clippy
      - name: Test Project
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} cargo test -p command-ext -p raw-cstr -p tmp-dir -p version-tools || ( echo "❗ Tests failed" && exit 1 )
          echo "✅ Tests passed"
      - name: Build Docs
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} cargo doc --workspace --no-deps
      - name: Test Docs
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} cargo test --doc
  
  build_windows:
    name: Build and Test (Windows)
    runs-on: windows-latest
    steps:
      - name: Add ISPM and MinGW to PATH
        run: |
          'C:\MinGW\bin' | Out-File -FilePath $env:GITHUB_PATH -Append
          'C:\ISPM\' | Out-File -FilePath $env:GITHUB_PATH -Append

      - name: Cache MinGW
        id: cache-mingw
        uses: actions/cache@v3
        with:
          path: C:\MinGW\
          key: mingw-${{ env.MINGW_VERSION }}

      - name: Download and Extract MinGW-w64
        if: ${{ steps.cache-mingw.outputs.cache-hit != 'true' }}
        run: |
          Invoke-WebRequest -URI ${{ env.MINGW_URL }} -OutFile mingw.7z
          7z x mingw.7z -oC:\MinGW\

      - name: Download and Install Rust
        run: |
          Invoke-WebRequest -URI https://win.rustup.rs/x86_64 -o C:\rustup-init.exe
          C:\rustup-init.exe --default-toolchain nightly --default-host x86_64-pc-windows-gnu -y

      - name: Cache SIMICS
        id: cache-simics-packages-windows
        uses: actions/cache@v3
        with:
          path: |
            C:\ISPM\
            C:\SIMICS\
          key: simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }}

      # ispm-installer.exe is a NSIS installer for the elctron build. We want the
      # default options, so we pass /S to install silently:
      # https://nsis.sourceforge.io/Docs/Chapter3.html#installerusage
      #
      # NOTE: We use | Out-Null on the installer command to make powershell wait for it
      # to actually finish instead of forking it to the background
      - name: Download and Install ISPM
        if: ${{ steps.cache-simics-packages-windows.outputs.cache-hit != 'true' }}
        run: |
          Invoke-WebRequest -URI ${{ env.PUBLIC_SIMICS_ISPM_URL_WINDOWS }} -o C:\ispm-installer.exe
          C:\ispm-installer.exe /S /D='C:\ISPM\' | Out-Null
      
      - name: Download and Install SIMICS Packages
        if: ${{ steps.cache-simics-packages-windows.outputs.cache-hit != 'true' }}
        run: |
          Invoke-WebRequest -URI ${{ env.PUBLIC_SIMICS_PKGS_URL_WINDOWS }} -o C:\simics-6-packages.ispm
          ispm.exe settings install-dir C:\SIMICS\
          ispm.exe packages --install-bundle C:\simics-6-packages.ispm --non-interactive --trust-insecure-packages

      - uses: actions/checkout@v3
        with:
          lfs: true

      - name: Setup, Build, and Install TSFFS
        run: |
          ispm.exe projects $(pwd) --create --non-interactive --ignore-existing-files
          ./bin/project-setup.bat --mingw-dir C:\MinGW\bin --ignore-existing-files --force
          cargo -Zscript build.rs
          ispm.exe packages -i win64/packages/simics-pkg-31337-6.0.0-win64.ispm --non-interactive --trust-insecure-packages

  static_analysis:
    name: Run Static Analysis
    container: fedora:38
    runs-on: ubuntu-latest
    steps:
      - name: Add ISPM to PATH
        run: |
          echo "${HOME}/simics/ispm/" >> "${GITHUB_PATH}"

      - name: Install Dependencies
        shell: bash
        run: |
          dnf -y update && \
          dnf -y install \
            alsa-lib atk clang clang-libs clang-resource-filesystem \
            clang-tools-extra cmake cups curl dosfstools g++ gcc git \
            git-lfs glibc-devel glibc-devel.i686 glibc-static \
            glibc-static.i686 gtk3 lld lld-devel lld-libs llvm llvm-libs \
            llvm-static make mesa-libgbm mtools ninja-build openssl \
            openssl-devel openssl-libs python3 python3-pip yamllint

      - uses: actions/checkout@v3
        with:
          lfs: true

      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt,clippy,miri

      - name: Cache SIMICS Dependencies
        id: cache-simics-packages
        uses: actions/cache@v3
        with:
          path: ${HOME}/simics
          key: simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }}

      - name: Install SIMICS (External)
        if: ${{ steps.cache-simics-packages.outputs.cache-hit != 'true' }}
        shell: bash
        run: |
          mkdir -p "${HOME}/simics/ispm/" && \
          curl --noproxy -L -o "${HOME}/simics/ispm.tar.gz" \
              "${{ env.PUBLIC_SIMICS_ISPM_URL }}" && \
          curl --noproxy -L -o "${HOME}/simics/simics.ispm" \
              "${{ env.PUBLIC_SIMICS_PKGS_URL }}" && \
          tar -C "${HOME}/simics/ispm" --strip-components=1 \
              -xvf "${HOME}/simics/ispm.tar.gz" && \
          ispm settings install-dir "${HOME}/simics" && \
          ispm packages --install-bundle "${HOME}/simics/simics.ispm" \
              --non-interactive --trust-insecure-packages

      - name: Build and Install TSFFS SIMICS Package
        run: |
          ispm projects "$(pwd)" --create --ignore-existing-files \
            --non-interactive
          bin/project-setup --force
          ./build.rs
          ispm packages \
            -i linux64/packages/simics-pkg-31337-6.0.0-linux64.ispm \
            --non-interactive --trust-insecure-packages

      - name: CT39 - Clippy Check Project
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} cargo clippy \
            || ( echo "❗ [CT39 (1/2)] Failed clippy static analysis checks" && exit 1 )
          echo "✅ [CT39 (1/2)] Passed clippy static analysis checks"

      - name: CT39 - MIRI Check Project
        run: |
          SIMICS_BASE=${HOME}/simics/simics-${{ env.PUBLIC_SIMICS_PACKAGE_VERSION_1000 }} \
          MIRIFLAGS="-Zmiri-backtrace=full -Zmiri-disable-isolation -Zmiri-panic-on-unsupported" \
            cargo miri test -p command-ext -p raw-cstr -p tmp-dir -p version-tools \
            || ( echo "❗ [CT39 (2/2)] Failed MIRI static analysis checks" && exit 1 )
          echo "✅ [CT39 (2/2)] Passed MIRI static analysis checks"

  fuzz_tests:
    name: Run Fuzz Tests
    container: fedora:38
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        shell: bash
        run: |
          dnf -y update && \
          dnf -y install \
            alsa-lib atk clang clang-libs clang-resource-filesystem \
            clang-tools-extra cmake cups curl dosfstools g++ gcc git \
            git-lfs glibc-devel glibc-devel.i686 glibc-static \
            glibc-static.i686 gtk3 lld lld-devel lld-libs llvm llvm-libs \
            llvm-static make mesa-libgbm mtools ninja-build openssl \
            openssl-devel openssl-libs python3 python3-pip yamllint

      - uses: actions/checkout@v3
        with:
          lfs: true

      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt,clippy,miri

      - name: Install Cargo-Fuzz
        run: |
          cargo install cargo-fuzz
      - name: CT632 (E/C) - Perform fuzz testing
        run: |
          cd modules/tsffs/src/util/version-tools

          cargo fuzz build

          timeout --preserve-status 600 cargo fuzz run \
            fuzz_version_constraint_parse || exit 0

          echo "Done fuzzing!"

          if [ -d ./fuzz/artifacts ]; then
            if find ./fuzz/artifacts -mindepth 1 -maxdepth 1 2> /dev/null | read -r; then
              echo "❗ [CT632] Fuzz test found an issue"
              exit 1
            fi
          fi
          cd ../../../../../

          cd modules/tsffs/src/util/util/raw-cstr

          cargo fuzz build

          timeout --preserve-status 600 cargo fuzz run \
            fuzz_raw_cstr || exit 0

          echo "Done fuzzing!"

          if [ -d ./fuzz/artifacts ]; then
            if find ./fuzz/artifacts -mindepth 1 -maxdepth 1 2> /dev/null | read -r; then
              echo "❗ [CT632] Fuzz test found an issue"
              exit 1
            fi
          fi

          cd ../../../../../

          echo "✅ [CT632] Fuzz test completed"
          exit 0

  super_lint:
    name: Run Super Linter
    container: github/super-linter
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: false
      - name: (CT222) (E/C) - Use hadolint to evaluate Dockerfile configuration
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Rust validation is handled by build_and_test
          VALIDATE_RUST_2015: false
          VALIDATE_RUST_2018: false
          VALIDATE_RUST_2021: false
          VALIDATE_RUST_CLIPPY: false
          # We have no non-example CPP in the codebase
          VALIDATE_CPP: false
          VALIDATE_CLANG_FORMAT: false
          VALIDATE_JSCPD: false
          # This is way too pedantic
          VALIDATE_NATURAL_LANGUAGE: false
          # Dont flake8/mypy/pylint because our only python files attempt to import
          # simics and fail
          VALIDATE_PYTHON_FLAKE8: false
          VALIDATE_PYTHON_MYPY: false
          VALIDATE_PYTHON_PYLINT: false
        run: |
          /action/lib/linter.sh || ( echo "❗ [CT222] Super linter found an issue (possibly Hadolint)" && exit 1 )
          echo "✅ [CT222] Hadolint Dockerfile check passed"

  scan_containers:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dockerfile:
          - Dockerfile
          - examples/manual-example/Dockerfile
          - modules/tsffs/tests/targets/minimal-riscv-64/Dockerfile
          - modules/tsffs/tests/targets/minimal-riscv-64-edk2/Dockerfile
          - modules/tsffs/tests/targets/minimal-x86_64-breakpoint-edk2/Dockerfile
          - modules/tsffs/tests/targets/minimal-x86_64-timeout/Dockerfile
          - modules/tsffs/tests/targets/minimal-x86_64-edk2/Dockerfile
        include:
          - dockerfile: Dockerfile
            context: .
          - dockerfile: examples/manual-example/Dockerfile
            context: .
          - dockerfile: modules/tsffs/tests/targets/minimal-riscv-64/Dockerfile
            context: modules/tsffs/tests/targets/minimal-riscv-64/
          - dockerfile: modules/tsffs/tests/targets/minimal-riscv-64-edk2/Dockerfile
            context: modules/tsffs/tests/targets/minimal-riscv-64-edk2/
          - dockerfile: modules/tsffs/tests/targets/minimal-x86_64-breakpoint-edk2/Dockerfile
            context: modules/tsffs/tests/targets/minimal-x86_64-breakpoint-edk2/
          - dockerfile: modules/tsffs/tests/targets/minimal-x86_64-timeout/Dockerfile
            context: modules/tsffs/tests/targets/minimal-x86_64-timeout/
          - dockerfile: modules/tsffs/tests/targets/minimal-x86_64-edk2/Dockerfile
            context: modules/tsffs/tests/targets/minimal-x86_64-edk2/
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: false

      - name: Build Image
        run: |
          docker build -t container -f ${{ matrix.dockerfile }} ${{ matrix.context }}

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: container 

  additional_sdl_checks:
    name: Perform Additional SDL Checks
    container: fedora:38
    runs-on: ubuntu-latest
    steps:
      - name: Install Dependencies
        run: |
          dnf -y update && \
          dnf -y install \
            alsa-lib atk clang clang-libs clang-resource-filesystem \
            clang-tools-extra cmake cups curl dosfstools g++ gcc git \
            git-lfs glibc-devel glibc-devel.i686 glibc-static \
            glibc-static.i686 gtk3 lld lld-devel lld-libs llvm llvm-libs \
            llvm-static make mesa-libgbm mtools ninja-build openssl \
            openssl-devel openssl-libs python3 python3-pip yamllint

      - uses: actions/checkout@v3
        with:
          lfs: false
      - uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly
          components: rustfmt,clippy,miri

      - name: Install Cargo Plugins
        run: |
          cargo install cargo-audit cargo-outdated
      - name: (CT247/CT200) (N/C) - Scan 3rd-Party Components for Vulnerabilities, Verify that project is not using vulnerable 3rd party components
        run: |
          # shellcheck disable=SC2086,SC2143
          LATEST="$(find '.github/dependabot' -name '*.csv' -print0 \
            | xargs -r -0 ls -1 -t \
            | head -n 1)"
          if ! find '.github/dependabot' -name '*.csv' -mtime -14 | grep -q '.'; then
              echo "❗ [CT247/CT200] No dependabot report found from last 2 weeks. Run ./scripts/dependabot.sh."
              exit 1
          fi
          if tail -n+2 "${LATEST}" | grep -qv ".github/actions/toolchain"; then
              cat "${LATEST}"
              echo "❗ [CT247/CT200] Vulnerabilities found outside of github actions. Please remediate them."
              exit 1
          fi
          echo "✅ [CT247/CT200] No dependabot vulnerabilities found"
      - name: (T186) (N/C) - Use recommended settings and latest patches for third party libraries and software
        run: |
          cargo audit

          if ! cargo outdated --exit-code 1; then
              echo "❗ [T186] Out of date third party dependencies found"
              exit 1
          fi

          echo "✅ [T186] No outdated or vulnerable third party dependencies found"
